---
layout: default
---

{% assign author = site.members | where: 'english_first_name', page.author | first %}
{% assign avatar_url = '/images/avatars/' | append: author.english_first_name | append: '_' | append: author.english_last_name | append: '.jpg' | downcase %}
<h1>{{ page.title }}</h1>
<p>
{% if author %}
<img src="{{ avatar_url | prepend: site.baseurl }}" class="align-middle mr-1 rounded" style="width: 24px;">
<a href="{{ author.url | prepend: site.baseurl }}">{{ author.english_first_name }} {{ author.english_last_name }}</a>
{% endif %}
| {{ page.date | date_to_string }}
</p>

{{ content }}